.product {
  padding: 10px;
  border: 1px solid lightgrey;
}
.cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ff9900;
  color: white;
  padding: 0px;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 688px) {
  product {
    width: 100%;
    padding: 0px;
    margin: 0;
    border: 1px solid lightgrey;
  }
}
