.show-order-container {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.show-order-info {
  display: flex;

  margin-left: 10px;
}

.text-info {
  width: 150px;
}
.button-delete {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-btn {
  background-color: red;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
/* .delete-btn:hover {
  background-color: indigo;
  color: red;
} */

/* @media screen and (max-width: 688px) {
  .show-order-container {
    border: 1px solid red;
    width: 50%;
    display: block;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }
  .show-order-img img {
  }
} */
